.work-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  position: relative;

  @media (max-width: 575px) {
    grid-template-columns: 1fr;
  }
}
.WorkSectionMain{
  //  background-image: url("../../images/Home_new_bg.png");
  // background-size: 100% 100%;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center center;
  //  will-change: background-position; // for performance
  // // padding-top: 150px;
  // width: 100%;
  // overflow: hidden;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.WorkSectionMain::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/Home_new_bg.png");
  background-size: cover;
  background-position: center center;
  z-index: -1;
}
.TextGrid{
  margin-top: -100px;
  @media(max-width: 575px){
    margin-top: -180px;
  }
  p{
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    padding: 0 50px;
    text-align: center;
    @media(max-width: 1199px){
      width: 80%;
    }
    @media(max-width: 575px){
     width: 90%;
     padding: 0;
    font-size: 15px;
    }
  }
}
.work-left {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
  // padding: 2rem;
  @media (max-width: 575px) {
    justify-content: left;
    height: auto;
    padding: 0 4rem;
  }

  .fixed-title {
    font-size: 80px;
    background: linear-gradient(
      90deg,
      rgba(5, 132, 199, 1) 0%,
      rgba(2, 64, 97, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 768px) {
      font-size: 60px;
    }
    @media (max-width: 475px) {
      font-size: 40px;
    }
  }
}

.work-right {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
  padding: 0 2rem;
  @media (max-width: 575px) {
    // justify-content: center;
    height: auto;
  }
  @media (max-width: 575px) {
    height: auto;
    margin-top: -650px;
    padding: 0 4rem;
  }

  .carousel__slider {
    position: relative;
    // width: 100%;
    width: auto;
    // min-height: 300px;
    min-height: 85px;
  }

  .carousel__item {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.5s, transform 0.5s;

    .blurred-box__title {
      font-size: 80px;
      background: linear-gradient(
        90deg,
        rgba(5, 132, 199, 1) 0%,
        rgba(2, 64, 97, 1) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;

      @media (max-width: 768px) {
        font-size: 60px;
      }
      @media (max-width: 475px) {
        font-size: 40px;
      }
    }

    .blurred-box__text {
      font-size: 1.2rem;
      margin-top: 1rem;
    }
  }
}
