.canvas_factory_settings {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* .fixed_bg_wrapper_factory {
  background-image: url("../../images/Home_new_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  overflow: hidden;
} */
.fixed_bg_wrapper_factory {
  width: 100%;
  overflow: hidden;
  position: relative; /* required for pseudo-element */
}
.DesktopFactory {
  display: block;
}
.MobileFactory {
  display: none;
}

.fixed_bg_wrapper_factory::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/Home_new_bg.png");
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

.PrecisionHeadingSec {
  margin-top: 3rem;
  margin-left: 5rem;
  font-size: 50px;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    rgba(5, 132, 199, 1) 0%,
    rgba(2, 64, 97, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  display: flex;
  height: 90vh;
  align-items: flex-end;
  justify-content: center;
  /* margin-bottom: 1041vh; */
  /* margin-top: -534%; */
  color: rgb(211, 211, 211);
}

.scroll_text_wrapper {
  position: relative;
}
.scroll_text_header {
  position: absolute;
  color: white;
  font-size: 30px;
  top: -4rem;
  left: 0.2rem;
  font-weight: 300;
}

.body {
  width: 90%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.body p {
  font-size: 3.4vw;
  margin: 0px;
  margin-right: 1.2vw;
  font-weight: 300;
}

.body span {
  opacity: 0.2;
}
.test {
  /* background-color: #006f69; */
}

@media (min-width: 1921px) and (max-width: 2560px) {
  .main {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    /* margin-bottom: 530rem;
    margin-top: -1080vh; */
  }
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .main {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    /* margin-bottom: 800rem;
    margin-top: -1080vh; */
  }
}

@media (max-width: 1440px) {
  .main {
    /* margin-bottom: 420rem !important;
    margin-top: -1080vh !important; */
  }
}

@media (max-height: 1025px) {
  .main {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    /* margin-bottom: 557rem;
    margin-top: -1080vh; */
  }
}

@media (max-height: 1000px) {
  .main {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    /* margin-bottom: 557rem;
    margin-top: -1080vh; */
  }
}

@media (max-height: 920px) {
  .main {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
  }
}

@media (max-height: 800px) {
  .main {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .PrecisionHeadingSec {
    margin-left: 3rem;
  }
}

/* @media (max-width: 1340px) {
  .main {
    margin-bottom: 770rem !important;
    margin-top: -1155vh !important;
  }
} */
/* @media (max-height: 1400px) {
  .main {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 720rem;
    margin-top: -1080vh;
  }
} */

@media (max-width: 991px) {
  .scroll_text_header {
    position: absolute;
    font-size: 30px;
    top: -3rem;
    left: 0rem;
    font-weight: 300;
  }
  /* .main {
    margin-bottom: 720rem !important;
    margin-top: -1155vh !important;
  } */
}

/* @media (max-width: 820px) {
  .main {
    margin-bottom: 677rem;
    margin-top: -1156vh;
  }
} */

@media (max-width: 787px) {
  .body p {
    font-size: 28px;
    margin: 0px;
    margin-right: 1.8vw;
    font-weight: 300;
  }

  /* .main {
    margin-bottom: 527rem;
    margin-top: -1080vh;
  } */

  .scroll_text_header {
    position: absolute;
    font-size: 30px;
    top: -3rem;
    left: 0.3rem;
    font-weight: 300;
  }
}

@media (max-width: 575px) {
  .DesktopFactory {
    display: none;
  }
  .MobileFactory {
    display: block;
  }
  .PrecisionHeadingSec {
    margin-left: 20px;
    margin-top: 2rem;
  }
  .scroll_text_header {
    position: absolute;
    font-size: 20px;
    top: -2rem;
    left: 0;
    font-weight: 300;
  }
  .PrecisionHeadingSec {
    font-size: 30px;
  }
  .canvas_factory_settings {
    height: auto !important;

  }

  .main {
    /* margin-bottom: 502rem !important;
    margin-top: -1080vh !important; */
  }

  .body p {
    font-size: 28px;
    margin: 0px;
    margin-right: 1.8vw;
    font-weight: 300;
  }
}

@media (max-width: 450px) {
  .canvas_factory_settings {
    height: auto !important;
    margin-top: -150px;
  }
  .PrecisionHeadingSec{
    margin-top: 8rem;
  }
  .main {
    /* margin-bottom: 420rem !important;
    margin-top: -1080vh !important; */
  }
  /* .PrecisionHeadingSec{
    margin-top: 5rem;
  } */
}
