// .DifferenceSec {
//     padding: 0 50px;

//     @media(max-width: 575px) {
//         padding: 0 30px;
//     }

//     .DifferenceSecHeading {
//         .HeadingSec {
//             p {
//                 font-size: 50px;
//                 font-weight: 700;
//                 color: rgb(2, 64, 97);
//             }
//         }

//         .ContentSec {
//             padding: 20px 0;

//             p {
//                 font-size: 25px;
//                 color: #565656;
//                 @media(max-width: 575px){
//                     font-size: 20px;
//                 }
//             }
//         }
//     }

//     .ImageSectionInner {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: space-between;

//         .ImageSectionImg {
//             img {
//                 max-width: 100%;
//                 height: auto;
//             }
//         }
//     }

//     .ContentInnerDiff {
//         padding-top: 2rem;
//         p {
//             letter-spacing: 0.3px;
//             font-size: 17px;
//             font-style: normal;
//             font-weight: 200;
//             line-height: 30px;
//         }
//     }
// }

.PrecisionSec {
  // overflow: hidden;
  // padding: 150px 50px 60px 50px;

  // @media (max-width: 575px) {
  //   padding: 50px 30px;
  // }

  .PrecisionSecHeading {
    .PrecisionHeadingSec {
      p {
        font-size: 50px;
        font-weight: 700;
        background: linear-gradient(
          90deg,
          rgba(5, 132, 199, 1) 0%,
          rgba(2, 64, 97, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // display: inline-block;
        // color: rgb(2, 64, 97);

        @media (max-width: 475px) {
          font-size: 30px;
        }
      }
    }
  }

  .PrecisionImageSectionInner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;
    @media (max-width: 768px) {
      padding: 30px 0;
      justify-content: center;
    }
    @media (max-width: 575px) {
      padding: 20px 0;
    }

    .PrecisionImageSectionImg {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .PrecisionContentInnerDiff {
    // padding-top: 2rem;

    p {
      letter-spacing: 0.3px;
      font-size: 20px;
      font-style: normal;
      font-weight: 200;
      line-height: 30px;
      @media (min-width: 1600px) {
        font-size: 20px;
      }
    }
  }
}
